<br><br>
<h1>Iniciar sesión</h1>
<br>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <input type="text" formControlName="correo" placeholder="Correo">
        <br><br>
    </div>

    <div>
        <input type="password" formControlName="contra" placeholder="Contraseña">
        <br><br>
    </div>

    <div>
        <button type="submit">Iniciar sesión</button>
        <br><br>
        <button type="button" (click)="goToLoginTel()">Iniciar sesión con teléfono</button>
        <br><br>
    </div>

    <div>
        <p>¿No tienes cuenta? regístrate ahora!</p>
        <button type="button" (click)="goToRegistro()" >Crear cuenta</button>
    </div>
</form>