<div class="containerReporte">
  <h1 id="titulo">Reportes</h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th class="arIz">Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Hora</th>
        <th>Fecha</th>
        <th class="arDe">Mascota</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cita of citas">
        <td class="abIz">{{ cita.nombre }}</td>
        <td>{{ cita.correo }}</td>
        <td>{{ cita.telefono }}</td>
        <td>{{ cita.hora }}:00 hrs</td>
        <td>{{ cita.fecha }}</td>
        <td class="abDe">{{ cita.nombreMascota }}</td>
      </tr>
    </tbody>
  </table>
  <br><br>

  <h1 id="titulo">Cantidad por Raza</h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th class="arIz">Raza</th>
        <th class="arDe">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let raza of getRazaKeys()">
        <td class="abIz">{{ raza }}</td>
        <td class="centrar abDe">{{ razaCounts[raza] }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <canvas id="graficaRaza"></canvas>
  <br><br>

  <h1 id="titulo">Edad de los Perros</h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th class="arIz">Edad</th>
        <th class="arDe">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let edad of getEdadKeys()">
        <td class="abIz">{{ edad }} años</td>
        <td class="centrar abDe">{{ edadCounts[edad] }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <canvas id="graficaEdad"></canvas>
  <br><br>

  <h1 id="titulo">Tiempo en Adopción</h1>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th class="arIz">Tiempo</th>
        <th class="arDe">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tiempo of getTiempoKeys()">
        <td class="abIz">{{ tiempo }} meses</td>
        <td class="centrar abDe">{{ tiempoCounts[tiempo] }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <canvas id="graficaTiempo"></canvas>
</div>