<div class="container">
    <h1 id="tituloCitas">Mis Citas</h1>
    <hr>
    <ng-container *ngIf="citas$ | async as citas; else loading">
      <div *ngIf="citas.length === 0">
        <p>No tienes citas agendadas.</p>
      </div>
      <div *ngIf="citas.length > 0">
        <table class="table table-hover">
            <tr>
              <th scope="col">Nombre Mascota</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Acciones</th>
            </tr>
            <tr *ngFor="let cita of citas">
              <td>{{ cita['nombreMascota'] }}</td>
              <td>{{ cita['fecha'] | date: 'dd/MM/yyyy' }}</td>
              <td>{{ cita['hora'] }}</td>
              <td>{{ cita['nombre'] }}</td>
              <td>{{ cita['correo'] }}</td>
              <td>{{ cita['telefono'] }}</td>
              <td>
                <button class="btn" (click)="cancelarCita(cita)">Cancelar Cita</button>
              </td>
            </tr>
        </table>
      </div>
    </ng-container>
    <ng-template #loading>
      <p>Cargando tus citas...</p>
    </ng-template>
  </div>
  